// Write your custom css/scss here

/// FORMS
.form-control {
  background-color: #cecece !important;
  color: #2e2e2e !important;
  border-radius: 1rem !important;
}

.btn {
  border-radius: 1rem !important;
}

.input-group {
  .input-group-text {
    background-color: #c25c34;
    border: 1px solid #943e1c;
    border-radius: 1rem 0 0 1rem !important;
  }

  .form-control {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
  }
}

/// GENERAL
.nobleui-logo {
  font-weight: 300;
  font-size: 25px;
  color: darken($primary, 50%);
  span {
    color: $primary;
    font-weight: 800;
  }
  &:hover {
    color: darken($primary, 50%);
  }
  &.logo-light {
    color: $body-color;
  }
}

.separator {
  font-size: 15px;
  font-weight: 600;
  margin: 24px auto;
  position: relative;
  overflow: hidden;
  width: 100px;
  text-align: center;
  .text {
    display: inline-flex;
    position: relative;
    padding: 0 8px;
    z-index: 9999;
    &:before,
    &:after {
      content: '';
      display: block;
      width: 30px;
      position: absolute;
      top: 10px;
      border-top: 1px solid;
    }
    &:before {
      right: 100%;
    }
    &:after {
      left: 100%;
    }
  }
}

/// MODAL
.modal-content {
  color: #c5ccd8;
  background-color: #161616;
  border: none !important;
  border-radius: 1rem !important;

  .modal-header, .modal-footer {
    border: none !important;
    background-color: #c25c34;
    color: white;
  }
}
